body {
    background: url(../assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.box {
    border-radius: 1vw;
    border: 0.75vmin solid #000000;
    background-color: #202020;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

div.field {
    border: 0.75vmin solid #000000;
    background-color: #202020;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

p {
    color: #FFFFFF;
    font-family: serpentine;
    font-size: 2.5vmin;
}

label {
    color: #FFFFFF;
    font-family: serpentine;
    font-size: 2.5vmin;
}

h1 {
    color: #FFFFFF;
    font-family: serpentine;
    font-size: 5vmin;
}

@font-face {
    font-family: serpentine;
    src: url(../assets/serpentine.ttf);
}

img {
    display: none;
}

canvas {
    object-fit: contain;
}
