a {
    color: rgb(128, 128, 128);
    font-family: serpentine;
    text-decoration: none;
}

a:active {
    color: rgb(60, 60, 60);
}

a:hover {
    text-decoration: underline;
}

body {
    background: url(../assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

canvas {
    object-fit: contain;
    text-align: center;
    align-content: center;
}

div.box {
    border-radius: 1vw;
    border: 0.75vmin solid #000000;
    background-color: #202020;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

div.outline {
    border: 0.25vmin solid #FFFFFF;
    margin-left: 20vw;
    margin-right: 20vw;
}

@font-face {
    font-family: serpentine;
    src: url(../assets/serpentine.ttf);
}

h1 {
    color: #FFFFFF;
    font-family: serpentine;
    font-size: 6vmin;
}

h3 {
    color: #FFFFFF;
    font-family: serpentine;
    font-size: 4vmin;
}

iframe {
    width: 72vw;
    height: 40.5vw;
    margin-bottom: 2vh;
}

img {
    display: none;
}

input[type='radio'] {
    transform: scale(1.5);
}

label {
    color: #FFFFFF;
    font-family: serpentine;
    font-size: 3vmin;
}

p {
    color: #FFFFFF;
    font-family: serpentine;
    font-size: 3vmin;
}

.Row {
    margin-right: auto;
    margin-left: auto;
    display: table;
    width: 80%;
    border-spacing: 10px; /*Optional*/
}

.Column {
    display: table-cell;
}
